html{
	margin:2px;
	padding-bottom:20px;
}
body{
	text-align:center;
	margin:2px;
	padding:2px;
	font-family:Trebuchet MS;
	background-color:#7f7f7f;
}
figure{
	float:left;
	border:2px solid black;
	margin:2px;
	padding:20px;
}
