body{
	background-image: url("stars.jpeg");
	font-family:Trebuchet MS;
	background-size:cover;
	background-repeat:no-repeat;
}
#whole_form_container{
	background-color:white;
	margin-right:auto;
	margin-left:auto;
	width:600px;
	border-radius:25px;
	padding:20px 20px 20px 20px;
}
h1{
	text-align:center;
	font-family:Helvetica;
}
.button{
	border-radius:5px;	
	font-family:Trebuchet MS;
}
input[type=checkbox]{
	transform: scale(0.675);
}
input[type=radio]{
	transform: scale(0.675);
}
.answer_choices{
	display:inline;
	font-size:87%;
}
