.button{
	border-radius:5px;
	font-family:Trebuchet MS;
}
html{
	margin:2px;
	padding:2px;
}
body{
	text-align:center;
	margin:2px;
	padding:2px;
	font-family:Trebuchet MS;
	background-color:#7f7f7f;
}
figure{
	text-align:center;
	border:2px solid black;
	margin:2px;
	padding:20px;
}
table{
	text-align:center;
}
