html{
	margin:2px;
	padding:2px;
	font-size:10pt;
	font-weight:lighter;
}
body{
	margin:2px;
	padding:2px;
	font-family:Trebuchet MS;
}
#header{
	margin:2px;
	height:150px;
	width:1250px;
	padding:2px;
}
#header #name_and_location{
	text-align:center;
	vertical-align:middle;
}
#header #date{
	position:absolute;
	left:1125px;
	top:20px;
}
#nav_bar table{
	text-align:center;
	width:1250px;
}
#nav_bar{
	top:150px;
	border-top:2px solid black;
	border-bottom:2px solid black;
}
input[type="submit"]{
	background:#FFFFFF;
	border:0px;
	
}
input[type="submit"]:hover{
	background:#F0F0F0;
	border:0px;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
#right_col{
	position:absolute;
	left:980px;
	top:225px;
	width:250px;
	margin:2px;
	padding:2px;
}
.card{
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius:20px;
	width:250px;
	height:300px;
}
.card > img{
	border-radius:20px;
}
.card:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
.card_description{
	text-align:center;
	padding:2px 16px;
}
#footer{
	position:absolute;
	top:1250px;
	background-color:#A0A0A0;
	width:1250px;
	height:325px;
}
#footer_left{
	position:absolute; 
	text-align:center;
	top:50px;
	width:750px;
	height:235px;
}
#footer_right{
	position:absolute;
	text-align:center;
	top:50px;
	width:375px;
	left:850px;
	font-size:16pt;
	border-left:2px solid #303030;
}
#links > ul{
	list-style-type:none;
}
#links > a{
	text-decoration:none;
	color:black;
}
#right_col > a{
	text-decoration:none;
	color:black;
}
#error_message{
	text-align:center;
	position:absolute;
	top:300px;
	left:300px;
}
#left_col{
	position:absolute;
	left:20px;
	top:200px;
	width:900px;
}
#left_col_top{
	border:2px solid black;
}
#left_col_top table{
	padding:20px;
	width:900px;
}
#left_col_top td{
	padding:20px;
	background-color:#E0E0E0;
	border-radius:20px;
}
#left_col_top td[rowspan='3']{
	text-align:center;
	padding:20px;
	background-color:#E0E0E0;
	border-radius:20px;
}
#left_col_top td:hover{
	padding:20px;
	background-color:#F0F0F0;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}
#left_col_top a{
	text-decoration:none;
	color:black;
}
#left_col_bottom table{
	padding:20px;
	width:900px;
}
#left_col_bottom td{
	background-color:#E0E0E0;
	padding:10px 20px 10px 20px;
	border-radius:20px;
}
#left_col_bottom td:hover{
	background-color:#F0F0F0;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}
#left_col_bottom thead{
	text-align:center;
}	
