#nav_bar{
	position:fixed;
	background-color:#304050;
	color:white;
	z-index:999;
	top:0;
	left:0;
	width:200px;
	height:100%;
	padding-left:20px;
}
.main_heading{
	display:block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom:0.83em;
	font-weight:400;
	list-style-type:none;
	text-transform:uppercase;
	font-family:Trebuchet MS;
}
.sub_heading{
	font-weight:bold;
}
.job_title{
	display:block;
	font-size:1.17em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:0;
	margin-right:0;
	font-weight:600;
	font-family:Trebuchet MS;
	color:#A0A0A0;
}
body{
	font-family:garamond;
	background-color:#FFFFF0;
}
#everything_but_nav_bar{
	position:absolute;
	top:10px;
	left:0px;
	width:100%;
}
hr{
	max-width:95%;
	margin:0px;
}
h1{
	text-align:center;
	font-weight:100;
	text-transform:uppercase;
	font-family:Trebuchet MS;
}
.signature_heading{
	font-weight:bold;
}
.job_functions{
	list-style-type:square;
}
#education{
	position:absolute;
	left:25%;
	width:400px;
}
#contact_info{
	position:absolute;
	right:0%;
	width:400px;
}
#work_experience{
	position:absolute;
	top:200px;
	left:25%;
	width:500px;
}
#links a{
	color:white;
}
#achievements{
	position:absolute;
	top:175px;
	right:0;
	width:400px;
}
#interests{
	position:absolute;
	top:335px;
	right:0;
	width:400px;
}
#signature{
	position:absolute;
	top:475px;
	right:0;
	width:400px;
	padding-bottom:10px;
}
