body{
	background-image: linear-gradient(to bottom right, #9795EF, #F9C5D1);
	font-family:Trebuchet MS;
}
#whole_form_container{
	background-color:white;
	margin-right:auto;
	margin-left:auto;
	width:500px;
	border-radius:25px;
	padding:20px 20px 20px 20px;
}
.text_box{
	border-radius:10px;
	height:20px;
	width:480px;
	padding-right:10px;
	font-family:Trebuchet MS;
}
h1{
	text-align:center;
	font-family:Helvetica;
}
select{
	height:210px;
	border-radius:10px;
	font-family:Trebuchet MS;
}
textarea{
	border-radius:10px;
	font-family:Trebuchet MS;
	width:480px;
	font-size:10pt;
}
.button{
	border-radius:5px;	
	font-family:Trebuchet MS;
}
input[type=checkbox]{
	-moz-transform: scale(0.75);
	-ms-transform: scale(0.75);
}
input[type=radio]{
	-moz-transform: scale(0.75);
	-ms-transform: scale(0.75);
}
