html{
	height:100%;
}
body{
	background-image: linear-gradient(to bottom right,#FFFFFF,#7070A0);
	font-family:Trebuchet MS;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
#whole_form_container{
	background-color:white;
	width:500px;
	margin:auto;
	border-radius:25px;
	padding:20px 20px 20px 20px;
}
.text_box{
	border-radius:10px;
	height:20px;
	width:480px;
	padding-left:10px;
	font-family:Trebuchet MS;
}
h1{
	text-align:center;
	font-family:Helvetica;
}
.button{
	border-radius:5px;	
	font-family:Trebuchet MS;
}
