body
{
	text-align:center;
}
#timer
{
	position:absolute;
	top:200px;
	left:100px;
	width:100px;
	height:50px;
	border:2px solid black;
}
img[src="./puzzleback.gif"]
{
	z-index:0;
}
#message
{
	font-weight:900;
	font-size:150%;
	position:absolute;
	top:200px;
	left:900px;
}
