html{
	height:100%;
}
body{
	height:100%;
	background-image: url("./bank.jpeg");
	font-family:Trebuchet MS;
	background-size:cover;
	background-repeat:no-repeat;
}
#whole_form_container{
	background-color:white;
	margin:auto;
	width:500px;
	border-radius:25px;
	padding:20px 20px 20px 20px;
}
.text_box{
	border-radius:10px;
	height:20px;
	width:480px;
	padding-left:10px;
	font-family:Trebuchet MS;
}
h1{
	text-align:center;
	font-family:Helvetica;
}
.button{
	border-radius:5px;	
	font-family:Trebuchet MS;
}
